.Infodisplay {
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.Pollutant {
    display: block;
    background-color: black;
    margin: 10px auto;
    width: 95%;
    height: 230px;
}

.PollutantData {
    font-size: 12px;
    color: white;
}

.DataNotAvailable {
    display: block;
    background-color: black;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 10px auto;
    width: 95%;
    height: 230px;
}

.BlankCanvas {
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
    font-weight: bold;
    color: yellow;
}
